.form{
    width: 100%;
    text-align:center;
}
.pa{
    text-align:center;
    font-size: 1.5em;
}
.sub{
    color: rgb(71, 226, 97);
}
.co1{
    font-size: 1em;
    font-family: monospace;
    color: rgb(54, 88, 179);
}
.co2{
    font-size: 1.25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(100, 38, 15);
}
.co3{
    font-size: 1em;
    font-family: sans-serif;
    color: royalblue;
}