.form{
    width: 100%;
    text-align:center;
}
.parrafo1{
    text-align:center;
    font-size: 1.5em;
}
.parrafo2{
    text-align:center;
    font-size: 2em;
}
.parrafo3{
    text-align:center;
    font-size: 1em;
}